.photos_and_filters .filters .checkbox_list .checkbox_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em 0;
}

/*
------------------------------------------------------------------------------------------------------------------
VERSION MOVIL
------------------------------------------------------------------------------------------------------------------
*/

@media only screen and (max-width: 768px) {
    .photos_and_filters .filters .checkbox_list .checkbox_item{
        margin: 1em 0;
    }
}